<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title>Halo bootstrap</title>
	</head>
	<body>
        <div class="container">
            <br/><br/>
            <center>
                <h3>Klasemen Liga Inggris</h3>
            </center>
            <br/><br/>

            <script type="text/javascript">
                
            </script>
    
            <table class="table table-bordered table-striped table-hover table-dark">
                <thead>
                    <tr>
                        <th>{{nomor[0]}}</th>
                        <th>{{klub[0]}}</th>
                        <th>{{main[0]}}</th>
                        <th>{{menang[0]}}</th>
                        <th>{{seri[0]}}</th>
                        <th>{{kalah[0]}}</th>
                        <th>{{poin[0]}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{nomor[1]}}</td><td>{{klub[1]}}</td><td>{{main[1]}}</td><td>{{menang[1]}}</td><td>{{seri[1]}}</td><td>{{kalah[1]}}</td><td>{{poin[1]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[2]}}</td><td>{{klub[2]}}</td><td>{{main[2]}}</td><td>{{menang[2]}}</td><td>{{seri[2]}}</td><td>{{kalah[2]}}</td><td>{{poin[2]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[3]}}</td><td>{{klub[3]}}</td><td>{{main[3]}}</td><td>{{menang[3]}}</td><td>{{seri[3]}}</td><td>{{kalah[3]}}</td><td>{{poin[3]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[4]}}</td><td>{{klub[4]}}</td><td>{{main[4]}}</td><td>{{menang[4]}}</td><td>{{seri[4]}}</td><td>{{kalah[4]}}</td><td>{{poin[4]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[5]}}</td><td>{{klub[5]}}</td><td>{{main[5]}}</td><td>{{menang[5]}}</td><td>{{seri[5]}}</td><td>{{kalah[5]}}</td><td>{{poin[5]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[6]}}</td><td>{{klub[6]}}</td><td>{{main[6]}}</td><td>{{menang[6]}}</td><td>{{seri[6]}}</td><td>{{kalah[6]}}</td><td>{{poin[6]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[7]}}</td><td>{{klub[7]}}</td><td>{{main[7]}}</td><td>{{menang[7]}}</td><td>{{seri[7]}}</td><td>{{kalah[7]}}</td><td>{{poin[7]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[8]}}</td><td>{{klub[8]}}</td><td>{{main[8]}}</td><td>{{menang[8]}}</td><td>{{seri[8]}}</td><td>{{kalah[8]}}</td><td>{{poin[8]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[9]}}</td><td>{{klub[9]}}</td><td>{{main[9]}}</td><td>{{menang[9]}}</td><td>{{seri[9]}}</td><td>{{kalah[9]}}</td><td>{{poin[9]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[10]}}</td><td>{{klub[10]}}</td><td>{{main[10]}}</td><td>{{menang[10]}}</td><td>{{seri[10]}}</td><td>{{kalah[10]}}</td><td>{{poin[10]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[11]}}</td><td>{{klub[11]}}</td><td>{{main[11]}}</td><td>{{menang[11]}}</td><td>{{seri[11]}}</td><td>{{kalah[11]}}</td><td>{{poin[11]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[12]}}</td><td>{{klub[12]}}</td><td>{{main[12]}}</td><td>{{menang[12]}}</td><td>{{seri[12]}}</td><td>{{kalah[12]}}</td><td>{{poin[12]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[13]}}</td><td>{{klub[13]}}</td><td>{{main[13]}}</td><td>{{menang[13]}}</td><td>{{seri[13]}}</td><td>{{kalah[13]}}</td><td>{{poin[13]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[14]}}</td><td>{{klub[14]}}</td><td>{{main[14]}}</td><td>{{menang[14]}}</td><td>{{seri[14]}}</td><td>{{kalah[14]}}</td><td>{{poin[14]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[15]}}</td><td>{{klub[15]}}</td><td>{{main[15]}}</td><td>{{menang[15]}}</td><td>{{seri[15]}}</td><td>{{kalah[15]}}</td><td>{{poin[15]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[16]}}</td><td>{{klub[16]}}</td><td>{{main[16]}}</td><td>{{menang[16]}}</td><td>{{seri[16]}}</td><td>{{kalah[16]}}</td><td>{{poin[16]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[17]}}</td><td>{{klub[17]}}</td><td>{{main[17]}}</td><td>{{menang[17]}}</td><td>{{seri[17]}}</td><td>{{kalah[17]}}</td><td>{{poin[17]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[18]}}</td><td>{{klub[18]}}</td><td>{{main[18]}}</td><td>{{menang[18]}}</td><td>{{seri[18]}}</td><td>{{kalah[18]}}</td><td>{{poin[18]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[19]}}</td><td>{{klub[19]}}</td><td>{{main[19]}}</td><td>{{menang[19]}}</td><td>{{seri[19]}}</td><td>{{kalah[19]}}</td><td>{{poin[19]}}</td>
                    </tr>
                    <tr>
                        <td>{{nomor[20]}}</td><td>{{klub[20]}}</td><td>{{main[20]}}</td><td>{{menang[20]}}</td><td>{{seri[20]}}</td><td>{{kalah[20]}}</td><td>{{poin[20]}}</td>
                    </tr>
                </tbody>
            </table> 
	    </div>
 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>